<div class="jumbotron center">
	<h3> Hey there...!!!</h3>
	<h2>Welcome back to <b><i>Osmium...</i></b></h2>
	<font color="black"><h1 style="font-family:verdana;">The New Billing application</h1></font><br><br><br>
	<p><%= link_to "Log in", "#", class: "btn btn-lg btn-xlarge" %></p>
</div>


<h2>What can <b><i>Osmium</i></b> do....</h2>	
 <div class="container marketing">
      <div class="row">
        <div class="col-lg-3">
          <img class="img-circle1">
          <h3>User Management</h3>
          <p>Osmium provides flexiblity of Users management to Admin.</p>
        </div>
        <div class="col-lg-1">
        	<div class="vl"></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle2">
          <h3>Order Management & Billing</h3>
          <p>Osmium is much better in billing the orders either it may be Home Delivery or Take away.</p>
          </div>
        <div class="col-lg-1">
        	<div class="vl"></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle3">
          <h3>Inventory Management</h3>
          <p>You could also manage your inventory with Osmium.</p>
         </div>

 </div>
</div>