<div class="jumbotron center">
	<h2> Hey there...!!!</h2>
	<br>
	<h1>Welcome to <b><i>Osmium...</i></b></h1>
	<p><%= link_to "Log in", "#", class: "btn btn-lg btn-xlarge" %></p>

</div>



 <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>User Management</h2>
          <p>Osmium provides flexiblity of Users management to Admin.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Billing</h2>
          <p>Osmium is much better in billing the orders either it may be Home Delivery or Take wy.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Inventory Management</h2>
          <p>You could also manage your inventory with Osmium.</p>
          
        </div>
 </div>