$baseColo: #2196F3;
$navbar-default-bg: darken($baseColo, 4%); //#1F45FC; //#4d1a00

@import "bootstrap-sprockets";
@import "bootstrap";


//Home Page Decoration Starts

body{
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	background-color: lighten($baseColo, 40%);  //#87CEEB; //#E5E4E2;
  font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}

.input-width{
  
  width: 90px;
}

hr {
	height: 2px;
	//width: 70px;
	text-align: center;
	position: relative;
	background: #357EC7;
	//margin: 0;
	margin-bottom: 40px;
	border: 0;
}

.hrline{

	width: 70px;
	text-align: center;
	position: relative;
	background: #357EC7;
	//margin: 0;
	margin-bottom: 40px;
	border: 0;
}

a{
	color: #1F45FC; 
}

a:hover, a:focus {
	text-decoration: none;
	color: #488AC7;
}

footer{
	background-color: #2196F3; //#1F45FC;
	border-radius: 3px;
	color: #fff;
}

h7{
	 -webkit-text-stroke: 1px black;
   color: white;
   font-size: 70px;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#logo2{

	float: left;
	color: #fff;
}

#logo2:hover{	
	color:#bcbcbc;
}

#logo{

	float: left;
	font-size: 1.5em;
	color: #fff;
	letter-spacing: -1px;
}

#logo:hover{	
	color:#bcbcbc;
}

#nav-ele:hover{
	color:#bcbcbc;
}

.jumbotron{
background-image: asset-url('jumbotron-bg.jpg');
background-size: Cover;
// height: 300px;
// border: 5px solid black
}

.center{
	text-align: center
}

.font-clr{
color: black;
}

h1 {
color: black;
}
h2 {
color: black;
}

h3 {
color: black;
}


/* .vl {
			    border-left: 4px solid black;
			    height: 200px;
			    position: absolute;
			    left: 50%;
			    margin-left: -3px;
			    top: 0;
} */



				
.btn-xlarge {
	//text-transform: uppercase;
	color: #fff;
	background-color: #1F45FC;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	//border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
}
.btn-xlarge:hover, .btn-xlargefocus, .btn-xlarge.focus, .btn-xlarge:active, .btn-xlarge.active {
	color: #fff;
	background-color: #488AC7;
}
.h{
	text-outline: thickness blur color;
}

.img-circle1{
background-image: asset-url('Users.jpg');
width: 100px;
 height: 100px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 border: 10px solid black
}
.img-circle2{
background-image: asset-url('Bill.jpg');
width: 100px;
 height: 100px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 border: 10px solid black
}
.img-circle3{
background-image: asset-url('Inventory.png');
width: 100px;
 height: 100px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 border: 10px solid black
}

//Home Page Decoration Ends

#overlay{
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}


// Order Table Decoration Starts

$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;



.header {
   background-color: darken($baseColor, 5%);
   color: white;
   font-size: 1.2em;
   padding: 1rem;
   text-align: center;
   text-transform: uppercase;
}


.table-users {
   //border: 1px solid darken($baseColor, 5%);
   border-radius: $borderRadius;
   //box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% + 3em);
   margin: 1em auto;
  overflow: hidden;
   width: 100%;
}

table {
   width: 100%;
   
   td, th { 
      color: darken($baseColor, 10%);
      padding: $padding; 
   }
   
   td {
      text-align: center;
      vertical-align: middle;
     }

   th {
      text-align: center;
      vertical-align: middle;
      color: black;
      }
   
   th { 
      background-color: lighten($baseColor, 50%);
      font-weight: 300;
   }
   
   tr {     
      &:nth-child(2n) { background-color: white; }
      &:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
   }
}

@media screen and (max-width: 700px) {   
   table, tr, td { display: block; }
   
   td {
      &:first-child {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: $imageBig;
      }

      &:not(:first-child) {
         clear: both;
         margin-left: $imageBig;
         padding: 4px 20px 4px 90px;
         position: relative;
         text-align: left;

         &:before {
            color: lighten($baseColor, 30%);
            content: '';
            display: block;
            left: 0;
            position: absolute;
         }
      }

     
   }
   
   tr {
      padding: $padding 0;
      position: relative;
      &:first-child { display: none; }
   }
}

@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: lighten($baseColor, 60%);
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
   
   
   td {
      &:first-child { 
         background-color: lighten($baseColor, 45%); 
         border-bottom: 1px solid lighten($baseColor, 30%);
         border-radius: $borderRadius $borderRadius 0 0;
         position: relative;   
         top: 0;
         transform: translateY(0);
         width: 100%;
      }
      
      &:not(:first-child) {
         margin: 0;
         padding: 5px 1em;
         width: 100%;
         
         &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }
      }
      
      &:last-child  { padding-bottom: 1rem !important; }
   }
   
   tr {
      background-color: white !important;
      border: 1px solid lighten($baseColor, 20%);
      border-radius: $borderRadius;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }
   
   .table-users { 
      border: none; 
      box-shadow: none;
      overflow: visible;
   }
}
//Order Table Decoration Ends