<!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a>&nbsp;&nbsp;</p>
        <p><small><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2017 Bharadwaja Mukheem, All Rights Reserved.
        <p align = 'center'> Powered by <b><i>Osmium</i></b></h4></small></p>
        
      </footer>