<!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#"><font color="white">Back to top</font></a>&nbsp;&nbsp;</p>
        
        <p class="pull-left">&nbsp;Powered by <b><i>Osmium</i></b></p>
        <p><small><h4><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2017 Bharadwaja Mukheem, All Rights Reserved.</center></h4></small></p>
      </footer>