<!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a>&nbsp;&nbsp;</p>
        <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	&copy; 2017 Bharadwaja Mukheem, All Rights Reserved.</b></p>
      </footer>